beautifulsoup4==4.12.3
langchain==0.2.5
langchain_google_genai==1.0.6
langchain_pinecone==0.1.1
pdfplumber==0.11.1
Pillow==10.3.0
pinecone==4.0.0
protobuf
PyPDF2==3.0.1
python-dotenv==1.0.1
Requests==2.32.3
sentence_transformers==3.0.1
streamlit==1.29.0
langchain_community
PyMuPDF
pdf2image
pandas
unstructured[all-docs]
opencv-python-headless